<html>
    <head>
        <title> Map </title>
    </head>
    <body>
        <style>
        #map {
            position: relative;
        }
        </style>
        <div id="map" style="width: 1000px; height: 800px;"><div id="popup"></div></div>
        <script src={{ url_for("static", filename="ol/ol.js") }}></script>
        <script src={{ url_for("static", filename="script/styles.js") }}></script>
        <script src={{ url_for("static", filename="script/checker.js") }}></script>
        <script src={{ url_for("static", filename="script/map.js") }}></script>
    <body>
</html>
