<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Freya</title>
	<style>
		 h1, h2 {
 	text-align: center;
 	font-size: 55px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	}
 	.fig1 {
 		text-align: top-right;
 	} 	
 	.fig2 {
 		text-align: center;
 	}
	</style>
</head>
<body>
	<p class="fig1"><img src={{ url_for("static", filename="image/kotya2.jpg") }} width="90px" 
		height="90px" alt = "Котик" align="right"></p1>
	<h1>Сайт находится на стадии разработки</h1>
	<h2>Мяу</h2>
	<p class="fig2"><img src={{ url_for("static", filename="image/kotya.jpg") }} alt="Котик" 
		width="750px" height="551px"></p2>
</body>
</html>
